@model IEnumerable<LikeButton.Models.Classes.Like>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Likes in Articles</h2>
<p>
    @Html.ActionLink("Create New Article", "Create")
</p>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Article ", "Article", new { id = item.article_id })
                id @Html.DisplayFor(modelItem => item.article_id), create by @Html.DisplayFor(modelItem => item.like_user)
                at @Html.DisplayFor(modelItem => item.like_date)
                <p>
                    <button class="like">
                        @Html.DisplayFor(modelItem => item.article_like)
                        @Html.ActionLink("Likes", "LikePost", new { id = item.article_id })
                    </button>
                </p>
            </td>
        </tr>
    }
</table>


